<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acolito - Cosmerium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="menu"></div>
	<script>
	  fetch('/menu')
		.then(response => response.text())
		.then(data => {
		  document.getElementById('menu').innerHTML = data;
		});
	</script>


    <div class="contenido">
        <h1>Acólito</h1>
        <p>"En las sombras del templo, encuentras la luz que guía mi camino. Soy Martha, acólita devota, y en la comunión con lo divino, descubro la verdad que ilumina cada rincón oscuro de este mundo. Mi fe es mi fuerza, y mi servicio es mi devoción. " — Martha, se dormía entre los rincones del templo. </p>
        <p> Has dedicado tu vida al servicio de un templo de un dios específico o un panteón de dioses. Actúas como intermediario entre el reino de lo sagrado y el mundo mortal.</p>
		<p><strong>Competencia: </strong>Religión</p>
		<!--<p><strong>Recuerdo: </strong><em> El trasfondo no define el pasado de tu PJ, es un recurso genérico que lo clasifica para recibir competencias tomando un trasfondo que más se puede acercar o asimilar por su historia. </em></p>-->
		<img src="{{ url_for('static', filename='images/acolito.jpg') }}" alt="Acolito" class="imagen-detalles">
    </div>

</body>
</html>
