<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cosmerium</title>
    <link rel="stylesheet" href="/static/css/style.css">  <!-- Enlace al CSS -->
</head>
<body>
    <div id="menu"></div>
	<script>
	  fetch('/menu')
		.then(response => response.text())
		.then(data => {
		  document.getElementById('menu').innerHTML = data;
		});
	</script>
	<h1>  </h1>
	<div class="oriental-contenedor">
        <div class="oriental-tarjetas">
		
			<div class="oriental-card">
                <p>
					<h2><strong>"El Imperio Final había terminado. Pero el verdadero peligro apenas comenzaba. Porque en las brumas… algo más despertaba."</strong></h2>
						La muerte del Lord Legislador no trajo paz.<br>
						<br>
						Solo vacío.<br>	
						<br>
						El Imperio Final se había sostenido por mil años bajo el puño de un dios. Con su caída, la estructura que había mantenido el orden colapsó. <br>	
						<br>
						Las ciudades quedaron sin ley. Las casas nobles, sin dirección. Los skaa, sin alguien que les dijera qué hacer.<br>
						<br>
						Y en medio del caos, un hombre se alzó para tomar las riendas de este mundo nuevo.<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>El ascenso de Elend Venture</strong></h2>
						No era un guerrero. No era un Nacido de la Bruma. No era un líder carismático como Kelsier.<br>
						<br>
						Solo era un hombre con ideas. <br>	
						<br>
						Elend Venture soñaba con un gobierno donde los hombres fueran libres. Donde los skaa pudieran decidir su propio destino. Donde la nobleza ya no tuviera poder por derecho de nacimiento. <br>	
						<br>
						Así que escribió leyes.<br>
						<br>
						Creó una asamblea.<br>
						<br>
						Intentó darles a todos una voz.<br>
						<br>
						Pero las voces de los hombres son débiles cuando el hambre ruge más fuerte.<br>
						<br>
						Y la guerra no tardó en llegar.<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>La amenaza de los ejércitos</strong></h2>
						No fue una sola nación la que se alzó para reclamar Luthadel. <br>
						<br>
						Fueron tres. <br>	
						<br>
						Straff Venture, el padre de Elend, vino con su ejército para reclamar el trono que su hijo no quería. <br>	
						<br>
						Cett, el señor de Occidente, marchó con miles de soldados, buscando hacerse con el poder.<br>
						<br>
						Y un último ejército que se aproximaba, uno peor que los anteriores, uno dominado por un antiguo amigo de Elend.<br>
						<br>
						Luthadel estaba asediada.<br>
						<br>
						El gobierno de Elend estaba condenado.<br>
						<br>
						Y las brumas…<br>
						<br>
						Las brumas se volvían más espesas. Más frías.<br>
						<br>
						Las brumas empezaban a matar.<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>La llegada del último ejército</strong></h2>
						Vin lo sintió antes que nadie. <br>
						<br>
						Algo se acercaba. Algo peor que la guerra. <br>	
						<br>
						Los koloss. <br>	
						<br>
						Criaturas imposibles, de piel demasiado suelta, ojos inhumanos y una furia sin fin.<br>
						<br>
						No tenían estrategia. No tenían diplomacia.<br>
						<br>
						Solo destrucción.<br>
						<br>
						Y se dirigían a Luthadel.<br>
						<br>
						Las murallas no los detendrían. Los ejércitos no los frenarían.<br>
						<br>
						Vin y Elend tenían una sola opción.<br>
						<br>
						Una última esperanza.<br>
						<br>
						Un antiguo poder que esperaba ser tomado, un poder que residía en las antiguas historias de Sazed, en sus cuentos, en los libros que encontraron en el palacio del difunto Lord Legislador.<br>
						<br>
						El Pozo de la Ascensión. Así que Elend, Vin y Fantasma, el "adpotivo" de Clubs, marcharon a buscarlo, abandonando Luthadel a su suerte.<br>
						<br>
						Y allí, en el corazón de la tierra, Vin inició la búsqueda de lo que el Lord Legislador había temido.<br>
						<br>
						El poder de la Ascensión.<br>
						<br>
						Y la Voz que susurraba en la ceniza.<br>
						<br>
						"Libérame."<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>El engaño de la banda</strong></h2>
						Sazed, Hammond, Brisa, Dockson, Clubs… <br>
						<br>
						Sus amigos. Su familia. <br>	
						<br>
						Los que habían luchado a su lado desde el inicio. <br>	
						<br>
						Los que habían decidido que al menos Vin y Elend debían vivir.<br>
						<br>
						Les mintieron. Les dijeron que el Pozo de la Ascensión no estaba en Luthadel. Que debían buscarlo lejos, en el frío del norte.<br>
						<br>
						Así que partieron, mientras el último refugio de la revolución quedaba atrás, atrapado entre ejércitos y koloss.<br>
						<br>
						Pero cuando Elend y Vin descubrieron la verdad, ya era demasiado tarde.<br>
						<br>
						El Pozo de la Ascensión no estaba en el norte.<br>
						<br>
						Siempre había estado en Luthadel.<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>El regreso a la ciudad caída</strong></h2>
						Las murallas estaban rotas. <br>
						<br>
						Los cuerpos cubrían las calles.<br>	
						<br>
						El ejército de Cett estaba destruido. El de Straff Venture, aniquilado. <br>	
						<br>
						Los koloss no habían hecho distinciones. No les importaban los bandos. Solo habían destruido.<br>
						<br>
						Y entre los escombros, entre la sangre y las cenizas…<br>
						<br>
						Dockson estaba muerto.<br>
						<br>
						Clubs estaba muerto.<br>
						<br>
						Sus amigos. Sus hermanos.<br>
						<br>
						Vin luchó, pues aún quedaban Koloss, Vin aniquiló a centenas de ellos, hasta que... desucbrió que mediante su alomancia podía controlarlos.<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>El último sacrificio</strong></h2>
						Pero los pulsos del Pozo aún llamaban a Vin.<br>
						<br>
						Así que corrió. Corrió entre las ruinas de Luthadel, corrió hasta el corazón del Imperio Final.<br>	
						<br>
						Kredik Shaw.<br>	
						<br>
						El palacio del Lord Legislador.<br>
						<br>
						Y allí, en su centro, lo encontró.<br>
						<br>
						El Pozo de la Ascensión.<br>
						<br>
						El poder de un dios.<br>
						<br>
						Y la elección.<br>
						<br>
						Los textos hablaban del Pozo. De su poder. De su propósito.<br>
						<br>
						Tomarlo. Usarlo.<br>
						<br>
						Salvar el mundo.<br>
						<br>
						Pero había otra voz.<br>
						<br>
						Más antigua. Más fuerte.<br>
						<br>
						La misma que había susurrado en las brumas.<br>
						<br>
						"Libérame."<br>
						<br>
						Elend cayó.<br>
						<br>
						Las brumas lo apuñalaron. Su piel se volvió fría. Su respiración se detuvo.<br>
						<br>
						Vin gritó.<br>
						<br>
						Y en su desesperación, en su rabia, en su impotencia…<br>
						<br>
						Tomó el poder, tomó el Pozo, y podía hacer dos cosas, salvar a Elend, la persona de quien se había enamorado, o liberarlo como decían las leyendas.<br>
						<br>
						Y lo liberó.<br>
						<br>
				</p>
            </div>
			
			<div class="oriental-card">
                <p>
					<h2><strong>El despertar de Ruina</strong></h2>
						Los textos habían mentido. <br>
						<br>
						El Pozo de la Ascensión no era para salvar el mundo.<br>	
						<br>
						Era para contenerlo. <br>	
						<br>
						Ruina había esperado mil años por este momento.<br>
						<br>
						Ahora estaba libre.<br>
						<br>
						Elend despertó gracias a que la propia bruma que lo había apuñalado, le entregó un pequeño fragmento de metal que lo convirtió en Nacido de la Bruma<br>
						<br>
						Pero el mundo estaba condenado.<br>
						<br>
						El mundo estaba condenado.<br>
						<br>
						Ruina siempre había estado allí.<br>
						<br>
						En los susurros de las brumas.<br>
						<br>
						En las palabras de profecías distorsionadas.<br>
						<br>
						En los textos que hablaban de un héroe, de un salvador.<br>
						<br>
						Pero el Héroe de las Eras no debía tomar el poder.<br>
						<br>
						Debía contenerlo.<br>
						<br>
						Preservarlo.<br>
						<br>
						Ruina había torcido la historia, había sembrado su voluntad en cada pergamino, en cada inscripción antigua.<br>
						<br>
						Y Vin, creyendo hacer lo correcto, le había dado la libertad.<br>
						<br>
						El sol ennegreció.<br>
						<br>
						El viento trajo ceniza.<br>
						<br>
						Y las brumas no se disiparon.<br>
						<br>
						Ahora cubrían la tierra durante el día, debilitando las cosechas, envolviendo el mundo en una penumbra eterna.<br>
						<br>
						Pero Ruina no solo trajo oscuridad.<br>
						<br>
						También trajo guerra.<br>
						<br>
						Porque tenía un sirviente.<br>
						<br>
						Uno que llevaba un clavo en la espalda.<br>
						<br>
						Uno que caminaba entre los nacidos de la bruma y los hacía pedazos.<br>
						<br>
						Uno que no podía ser detenido.<br>
						<br>
						Marsh.<br>
						<br>
				</p>
            </div>
        </div>
    </div>
</body>
</html>