<!-- menu.html -->
<nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#lore">Lore</a></li>
        <li><a href="#clases">Clases</a></li>
        <li><a href="#investidura">Investidura</a></li>
        <li><a href="#razas">Razas</a>
            <ul class="submenu">
                <li>
                    <ul class="submenu">
                        <li><a href="/humano_meridional">Humano Meridional</a></li>
                        <li><a href="/humano_oriental">Humano Oriental</a></li>
                        <li><a href="/humano_septentrional">Humano Septentrional</a></li>
                        <li><a href="/humano_occidental">Humano Occidental</a></li>
                        <li><a href="/humano_central">Humano Central</a></li>
                        <li><a href="/terrisano">Terrisano</a></li>
                        <li><a href="/koloss_sin">Koloss nacidos sin clavo</a></li>
                        <li><a href="/koloss">Koloss</a></li>
                        <li><a href="/kandra">Kandra</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#trasfondos">Trasfondos</a>
            <ul class="submenu">
                <li>
                    <ul class="submenu">
                        <li><a href="/rastreador">Rastreador del Dominio</a></li>
                        <li><a href="/actor">Actor de Taberna</a></li>
                        <li><a href="/medico">Médico</a></li>
                        <li><a href="/comerciante">Comerciante Ambulante</a></li>
                        <li><a href="/guardia">Guardia Callejero</a></li>
                        <li><a href="/acolito">Acólito</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#profesiones">Profesiones</a>
            <ul class="submenu">
                <li>
                    <ul class="submenu">
                        <li><a href="/vigilante">Vigilantes</a></li>
                        <li><a href="/armero">Armero</a></li>
                        <li><a href="/sastre">Sastre</a></li>
                        <li><a href="/cirujano">Cirujano</a></li>
                        <li><a href="/tabernero">Tabernero</a></li>
                        <li><a href="/meretriz">Meretriz</a></li>
                        <li><a href="/cazador">Cazador</a></li>
                        <li><a href="/herborista">Herborista</a></li>
                        <li><a href="/cazarrecompensas">Cazarrecompensas</a></li>
                        <li><a href="/minero">Minero</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#normativa">Normativa</a></li>
    </ul>
</nav>
